/* Global Styling */

/*styles*/

input[type="password"],
input[type="email"] {
  border-radius: 0.5rem;
  background-color: #e0e5ec;
  font-size: var(--normal-font-size);
  line-height: var(--normal-line-height);
  font-weight: 500;
  margin-bottom: 1rem;
}
.login-section {
  font-size: var(--sm-font-size);
  line-height: var(--sm-line-height);
  color: #404040;
  font-weight: var(--font-weight);
  margin-top: 1.5rem;
}

.login-section a {
  color: #2a67c2 !important;
  text-decoration: none;
}

/* override bootstrap buttons */

.btn__primary {
  background-color: var(--yellow);
  font-size: var(--normal-line-height);
  color: var(--main-bg-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-weight);
  margin-top: 2.25rem;
  border-radius: 0.5rem;
  width: 99%;
}
.btn__primary a {
  text-decoration: none;
  color: var(--body-font);
}

/* override bootstrap card */

.card-register-page {
  border-radius: 1rem;
  background-color: #ffffff;
}
.card-register-page h1 {
  font-size: var(--header-font-size);
  color: var(--main-bg-color);
  font-family: "Roboto";
  font-weight: var(--font-weight);
  margin-bottom: 2.5rem;
  text-align: center;
}
.card-register-page img {
  height: 4rem;
  margin-top: 3.5rem;
}
