/* Global Styling */


  /*styles*/
  


  input[type="email"] {
    border-radius: 0.5rem;
    background-color: #e0e5ec;
    font-size: var(--normal-font-size);
    line-height: var(--normal-line-height);
    font-weight: 500;
  }
  p.send-email-txt {
    font-size: var(--sm-font-size);
    line-height: var(--sm-line-height);
    font-weight: 100;
    margin-top: 2.625rem;
  }
  .sent-email-logo {
    height: calc(55%);
    margin-top: 3.56rem;
  }
  

  
  /*background colors*/
  


/* override bootstrap buttons */



.btn__primary {
    background-color: var(--yellow);
    font-size: var(--normal-line-height);
    color: var(--main-bg-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-weight);
    margin-top: 2.625rem;
    margin-bottom: 3.875rem;
    border-radius: 0.5rem;

  }
  .btn__primary a {
    text-decoration: none;
    color: var(--body-font);
  }
  


  /* override bootstrap card */
 
  

  .card-sendemail-page {
    border-radius: 1rem;
    background-color: #ffffff;
  }
  .card-sendemail-page h1 {
    font-size: var(--header-font-size);
    color: var(--main-bg-color);
    font-family: 'Roboto';
    font-weight: var(--font-weight);
    text-align: center;
  }
  .card-sendemail-page img {
    height: 4rem;
    margin-top: 3.5rem;
  }